{
    "parserOptions": {
        "ecmaVersion": 6
    },
    "extends": [
        "eslint:recommended"
    ],
    "rules": {
        "camelcase": "error",
        "brace-style": [
            "error",
            "1tbs"
        ],
        "comma-dangle": [
            "error",
            "never"
        ],
        "comma-spacing": [
            "error",
            {
                "before": false,
                "after": true
            }
        ],
        "comma-style": [
            "error",
            "last"
        ],
        "arrow-body-style": [
            "error",
            "as-needed"
        ],
        "arrow-parens": [
            "error",
            "as-needed"
        ],
        "arrow-spacing": "error",
        "no-var": "error",
        "prefer-template": "error",
        "prefer-const": "error"
    },
    "globals": {
        "exports": "writable",
        "module": "writable",
        "require": "writable",
        "process": "writable",
        "console": "writable"
    }
}
